<div class="mynav">
  
  <div class="filter">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item style="color: black;" (click)="all()">All</button>
        <button mat-menu-item style="color: black;" (click)="sports()">Sports</button>
        <button mat-menu-item style="color: black;" (click)="tech()">Technology</button>
        <button mat-menu-item style="color: black;" (click)="ent()">Entertainment</button>
        <button mat-menu-item style="color: black;" (click)="business()">Business</button>
        <button mat-menu-item style="color: black;" (click)="sci()">Science</button>
        <button mat-menu-item style="color: black;" (click)="health()" >Health</button>
      </mat-menu>
  </div>
  <div class="name">News Web App (Live)</div>
  <div class="icon">
    <div class="link"><a href="https://github.com/SumanGurung01/News-Web" target="_blank"><i class="fa fa-code"></i></a></div>
    <div class="link"><a routerLink="/developer"><i class="fa fa-user"></i></a></div>
  </div>
</div>
<br><br><br><br>
<router-outlet></router-outlet>
